body {
  display: flex;
  justify-content: center;
  background-color: #2d2d2d;
}

$lime: #2abf05;
$cream: darken(#f5f5dc, 10);
$charcoal: #141414;
$offwhite: #efefef;

div.app {
  display: flex;
  flex-direction: column;
  width: 900px;
  font-family: Avenir, Verdana, Tahoma, sans-serif;

  .lookup {
    background-color: $cream;
    width: 896px;
    font-size: 26px;
    padding-left: 4px;

    form {
      display: flex;

      code {
        border: 1px inset $offwhite;
        border-top: 0;
        border-bottom: 0;
        background-color: white;
        display: inline-block;
        padding: 5px 0 2px;
        margin-left: 4px;

        input {
          display: inline-block;
          width: 300px;
          margin-left: -16px;
          border: 0;
          background-color: transparent;
          font: inherit;
        }
      }

      button[type=submit] {
        line-height: 32px;
        color: white;
        font: inherit;
        font-size: 20px;
        margin-left: auto;
        background-color: $lime;
        border-block-width: 1px;
      }
    }
  }


  .video-player {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: black;

    .video-container {
      align-self: center;
    }

    .error-message {
      position: "absolute";
      width: 640px;
      height: 200px;
      margin-top: 135px;
      background-color: '#BBB';
    }

    .related-videos {
      display: flex;
      flex-direction: column;
      height: 480px;
      width: 256px;
      background-color: $charcoal;
      color: white;
      margin: 0;
      border-left: 4px black solid;
      padding-left: 0;
      list-style: none;

      li {
        cursor: pointer;
        height: 80px;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 13px;
        background-color: $charcoal;
        transition: background-color 0.2s;

        span {
          margin-left: 4px;
        }

        &:hover {
          background-color: lighten($charcoal, 40);
        }
      }
    }
  }

  .details {
    background-color: $cream;
    padding-left: 12px;
    padding-right: 12px;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
