body {
  display: flex;
  justify-content: center;
  background-color: #2d2d2d;
}

div.app {
  display: flex;
  flex-direction: column;
  width: 900px;
  font-family: Avenir, Verdana, Tahoma, sans-serif;

  .lookup {
    background-color: #f5f5dc;
    width: 100%;
    font-size: 26px;
    padding-left: 4px;
  }

  code {
    border: 1px inset #efefef;
    border-top: 0;
    border-bottom: 0;
    background-color: white;

    input {
      display: inline-block;
      width: 225px;
      margin-left: -16px;
      border: 0;
      background-color: transparent;
      font: inherit;
    }
  }

  .video-player {
    width: 100%;
    display: flex;
    flex-direction: row;

    .related-videos {
      display: flex;
      flex-direction: column;
      height: 480px;
      width: 256px;
      background-color: rgb(20, 20, 20);
      color: #FFF;
      margin: 0;
      border-left: 4px black solid;
      padding-left: 0;
      list-style: none;

      li {
        cursor: pointer;
        height: 80px;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 14px;
        background-color: rgb(20, 20, 20);
        transition: background-color 0.2s;

        span {
          margin-left: 4px;
        }

        &:hover {
          background-color: lighten(rgb(20,20,20), 40);
        }
      }
    }
  }

  .details {
    background-color: #f5f5dc;
    padding-left: 12px;
    padding-right: 12px;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
